#footer-links {
	margin: 1.5rem;
}

#footer-text {
 	line-height: 1.7rem;
}

.post-read-more i {
	font-size: 1.5em;
}

.post-read-more i:hover {
	color: #28a745;
}

.card-tags ul.tags {
	margin: 0 20px !important;
}

.card-tags a {
	padding: 2px 4px;
}

.card-tags li {
	height: 30px;
}

#jumbohome {
	background: url("../img/jumbotron.jpg") top center !important;
	background-size: cover;
	text-shadow: 1px 1px 2px #333;
}

.pagination span.active {
	text-decoration: underline;
}

.pagination span.active a {
	color: rgba(0,0,0,.3);
}

hr.inter-meta {
	margin-top: 0;
	margin-bottom: 2rem;
}

.graybg {
	box-shadow:
		inset 0px 11px 8px -10px #CCC,
		inset 0px -11px 8px -10px #CCC;
}

#search-results strong {
	background-color: yellow;
}

#search-results .card-body {
	padding-bottom: 0;
} 

#search-results p {
	margin-bottom: 0;
}

#search-results ul {
	margin-bottom: 0.75rem;
}

.logo-image{
	width: 190px;
	height: 35px;
	overflow: hidden;
}

.form-control {
	width: 80%;
}

#searchform #s {
	margin-right: 1rem;
}

.share li {
	padding: 0 1rem; 
}

#mediumdark { 
	background: rgba(0, 0, 0, 0.9);
	color: rgba(255, 255, 255, 0.7);
	margin-top: 3rem;
}

#mediumdark a {
	color: rgba(255, 255, 255, 0.7);
}

#mediumdark a:hover {
	color: #fff;
}

#mediumdark hr.inter-meta {
	background: rgba(255, 255, 255, 0.5);
	margin: 0 15%;
}

#mediumdark .footer-copyright {
	background: rgba(0, 0, 0, 0.2);
}

#footer-links i {
	margin: 0 0.5rem;
}

/* 
	Estilos wpcf7
*/

.wpcf7-form-control {
	display: block;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: 
		border-color .15s ease-in-out,
		box-shadow .15s ease-in-out;
}

.wpcf7-form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* 
	Estilo de comentarios
*/
h2.comments-title,h3.comment-reply-title {
	font-size:16px;
	color:rgba(0,0,0,.68);
}
h3.comment-reply-title {
	margin-bottom:15px;
}
#comments .comment-content {
	font-family:Merriweather;
	color:rgba(0,0,0,.84);
}
p.comment-notes {
	display:none;
}
.comment-respond {
	margin-top:2rem;
}
.comment-form label {
	display:inline-block;
}
.comment-form input[type="checkbox"] {
    width: auto;
    margin-right: 4px;
}
#comments {
	margin:3.5rem 0 0 0;
}
#comments .comment-metadata {
	font-size:14px;
	margin-bottom:15px;
}
#comments .comment-metadata a {
	color:rgba(0,0,0,.54);
}
#comments .fn {
	font-size:15px;
	line-height:1.4;
	padding-left:10px;
	font-weight:600;
}
#comments .vcard img {
	border-radius:50%;
}
ol.comment-list {
	list-style:none;
	padding-left:0;
}
ol.children {
	list-style:none;
	padding-left:15px;
}
.comment-list li.comment,.comment-form textarea,.comment-form input {
	background:#fff;
	box-shadow:0 1px 4px rgba(0,0,0,.04);
	border:1px solid rgba(0,0,0,.09);
	border-radius:3px;
	padding:20px;
	position:relative;
}
.comment-form input.submit, input.wpcf7-submit {
	background-color:#1C9963;
	border-color:#1C9963;
	color:rgba(255,255,255,1);
	border-radius:3px;
	font-size:0.90rem;
	margin-left:0;
	font-weight:600;
	text-transform:none;
	width:auto;
	cursor:pointer;
	box-shadow:none;
	padding:7px 13px;
}
.comment-form textarea,.comment-form input {
	padding:10px 10px;
	max-height:180px;
	width:100%;
	font-size:14px;
}
#comments .reply {
	position:absolute;
	top:20px;
	right:20px;
	font-size:17px;
	padding:2px 8px;
}
#comments .reply a {
	color:rgba(0,0,0,0.5);
}
.comment-list li.comment.depth-1 {
	margin-top:20px;
	margin-bottom:20px;
}
