footer #socialicons {
	font-size: 1.5em;
}

.post-read-more i {
	font-size: 1.5em;
}

.post-read-more i:hover {
	color: #28a745;
}

.card-tags ul.tags {
	margin: 0 20px !important;
}

.card-tags a {
	padding: 2px 4px;
}

.card-tags li {
	height: 30px;
}
